*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#050505;

    color:white;

}

.case-nav{

    padding:40px 110px;

}

.case-nav a{

    color:#A855F7;

    text-decoration:none;

    font-size:18px;

}

.case-hero{

    min-height:90vh;

    padding:0 110px;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:100px;

    align-items:center;

}

.project-tag{

    color:#8B5CF6;

    text-transform:uppercase;

    letter-spacing:2px;

    margin-bottom:20px;

}

.case-hero h1{

    font-size:110px;

    line-height:.95;

    letter-spacing:-5px;

    font-weight:800;

    background:linear-gradient(

        white,
        #D4D4D4

    );

    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;

}

.case-hero h2{

    font-size:32px;

    color:#A1A1AA;

    line-height:1.7;

    max-width:720px;

}

.case-info{

    display:flex;

    gap:60px;

    margin-top:70px;

}

.case-info h4{

    color:#8B5CF6;

    margin-bottom:12px;

}

.case-info p{

    color:#C5C5C5;

    line-height:1.8;

}

.hero-image{

    position:relative;

}

.hero-image img{

    width:430px;

    animation:float 7s ease-in-out infinite;

    filter:

    drop-shadow(0 80px 120px rgba(168,85,247,.25));

}

.hero-image::before{

    content:"";

    position:absolute;

    width:520px;

    height:520px;

    background:#8B5CF6;

    opacity:.18;

    border-radius:50%;

    filter:blur(140px);

}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-30px);

}

100%{

transform:translateY(0);

}

}
/*=========================
      My Role
=========================*/

#my-role{

    padding:140px 110px;

}

.role-description{

    max-width:900px;

    font-size:20px;

    line-height:1.9;

    color:#A1A1AA;

    margin-bottom:70px;

}

.role-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:28px;

}

.role-card{

    background:rgba(255,255,255,.03);

    backdrop-filter:blur(30px);

    border:1px solid rgba(255,255,255,.05);

    border-radius:30px;

    padding:45px;

    transition:.45s;

    position:relative;

    overflow:hidden;

}
.role-card::before{

content:"";

position:absolute;

width:240px;

height:240px;

background:#8B5CF6;

opacity:.08;

filter:blur(90px);

right:-100px;

top:-100px;

}
.role-card:hover{

transform:

translateY(-12px)

rotate(-1deg);

box-shadow:

0 40px 100px rgba(168,85,247,.18);

}

.role-card h3{

    font-size:24px;

    margin-bottom:18px;

}

.role-card p{

    color:#A1A1AA;

    line-height:1.8;

}
/*=========================
      Challenge
=========================*/

#challenge{

    padding:140px 110px;

}

.challenge-text{

    max-width:900px;

    font-size:21px;

    line-height:1.9;

    color:#A1A1AA;

}
.research-timeline{

    position:relative;

    max-width:900px;

    margin:140px auto;

}

.timeline-line{

    position:absolute;

    left:24px;

    top:30px;

    bottom:30px;

    width:2px;

    background:linear-gradient(
        to bottom,
        #8B5CF6,
        rgba(139,92,246,.15)
    );

}

.timeline-item{

    position:relative;

    display:flex;

    gap:50px;

    margin-bottom:110px;

}

.timeline-item:last-child{

    margin-bottom:0;

}

.number{

font-size:95px;

font-weight:900;

letter-spacing:-6px;

color:rgba(255,255,255,.03);

}

.number::after{

    content:"";

    position:absolute;

    left:20px;

    top:26px;

    width:10px;

    height:10px;

    border-radius:50%;

    background:#8B5CF6;

    box-shadow:0 0 25px #8B5CF6;

}

.timeline-content{

background:rgba(255,255,255,.025);

backdrop-filter:blur(30px);

padding:45px;

border-radius:30px;

border:1px solid rgba(255,255,255,.06);

position:relative;

overflow:hidden;

}
.timeline-content::before{

content:"";

position:absolute;

width:280px;

height:280px;

background:#8B5CF6;

opacity:.06;

filter:blur(100px);

right:-120px;

top:-120px;

}
.timeline-content:hover{

    transform:translateX(12px);

    border-color:#8B5CF6;

    box-shadow:
    0 25px 70px rgba(139,92,246,.12);

}

.timeline-content h3{

    font-size:34px;

    margin-bottom:18px;

}

.timeline-content p{

    color:#9CA3AF;

    font-size:19px;

    line-height:2;

}
body{

    background:#050505;
    color:white;
    overflow-x:hidden;
    position:relative;

}

body::before{

    content:"";

    position:fixed;

    width:900px;
    height:900px;

    right:-200px;
    top:-200px;

    background:#8B5CF6;

    opacity:.18;

    filter:blur(180px);

    border-radius:50%;

    z-index:-2;

}

body::after{

    content:"";

    position:fixed;

    width:700px;
    height:700px;

    left:-250px;
    bottom:-200px;

    background:#2563EB;

    opacity:.12;

    filter:blur(170px);

    border-radius:50%;

    z-index:-2;

}
.timeline-content p{

    color:#9CA3AF;

    font-size:19px;

    line-height:2;

}

/*==================================
        Animation
===================================*/

.timeline-item{

    opacity:0;

    transform:translateY(60px);

    animation:fade .8s forwards;

}

.timeline-item:nth-child(2){

    animation-delay:.2s;

}

.timeline-item:nth-child(3){

    animation-delay:.4s;

}

.timeline-item:nth-child(4){

    animation-delay:.6s;

}

.timeline-item:nth-child(5){

    animation-delay:.8s;

}

@keyframes fade{

    to{

        opacity:1;

        transform:translateY(0);

    }

}